<ul class="list-group list-group-flush" id="activity-list">
    {% for activity in activities %}
    <li class="list-group-item px-0">
        <div>{{ activity.description }}</div>
        <span class="text-muted small">
            {{ activity.get_activity_type_display }} · {{ activity.created_at|timesince }}
        </span>
    </li>
    {% empty %}
    <li class="list-group-item px-0">
        {% include 'core/_empty_state.html' with icon='fa-clock-rotate-left' title='Nenhuma atividade registrada' %}
    </li>
    {% endfor %}
</ul>
